<div class="content">
  <table class="leave-table">
    <thead>
      <tr>
        <th>Leave Code</th>
        <th>Description</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Days Taken</th>
        <th>Days Accrued</th>
        <th>Days Due</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      @for (item of leaveItems(); track $index) {
        @if (isEditing() && $index === leaveItems().length - 1) {
          <tr>
            <td>
              {{item.transCode}}
            </td>
            <td>
              <select
                class="table-select"
                [(ngModel)]="item.description"
                (ngModelChange)="updateTransCode(item)"
              >
                @for (option of leaveOptions; track option.code) {
                  <option [value]="option.label">{{ option.label }}</option>
                }
              </select>
            </td>
            <td><input type="date" [(ngModel)]="item.dateFrom" /></td>
            <td><input type="date" (change)="getDay()" [(ngModel)]="item.dateTo" /></td>
            <td><input type="text" [(ngModel)]="item.daysTaken" disabled/></td>
            <td><input type="text" [(ngModel)]="item.daysAccrued" disabled/></td>
            <td><input type="text" [(ngModel)]="item.daysDue" disabled/></td>
            <td><input type="text" [(ngModel)]="item.remarks" /></td>
          </tr>
        }@else{
          <tr>
            <td>{{ item.transCode }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.dateFrom }}</td>
            <td>{{ item.dateTo }}</td>
            <td>{{ item.daysTaken }}</td>
            <td>{{ item.daysAccrued }}</td>
            <td>{{ item.daysDue }}</td>
            <td>{{ item.remarks }}</td>
          </tr>
        }
        
      }
    </tbody>
  </table>

  <!-- Buttons Section -->
  <div class="buttons-container">
    @if (isEditing()) {
      <button class="save-btn" (click)="saveLeave()">Save Changes</button>
    }@else{
      <button class="add-btn" (click)="addLeave()">Add Leave</button>
    }
    
    
  </div>
</div>
